﻿.level2 {
    margin-left: 20px;
}

.level3 {
    margin-left: 30px;
}

.level4 {
    margin-left: 40px;
}

.level5 {
    margin-left: 50px;
}

.alert, .alert-success {
    display: none;
    /*overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;*/
}

.btn-action {
    width: 11%;
}

.btn-action2 {
    width: 21%;
}

#button-addon5 {
    position: absolute;
    right: 30px;
    top: 77px;
}

.stt {
    text-align: center;
}

.activeClk {
    background: #01ff70 !important;
}


.custom-select {
    width: 30%;
}

#tbl2 tbody tr .sorting_1 {
    display: none;
}

#tbl2 tr th:nth-child(1) {
    display: none;
}

.create-btn {
    margin-left: -12px;
    margin-right: 12px;
    font-size: 18px;
    color: #fff;
}

.edit-btn {
    margin-left: 12px;
    margin-right: 7px;
    font-size: 16px;
    color: #0062cc;
}

.delete-btn {
    margin-left: 12px;
    margin-right: 7px;
    font-size: 16px;
    color: #0062cc;
}

.save-btn {
    margin-left: -12px;
    margin-right: 12px;
    font-size: 18px;
    color: #fff;
}

#closeBtn {
    font-size: 20px;
}

#ecloseBtn {
    font-size: 20px;
}

#blah {
    max-width: 200px;
    max-height: 200px;
    opacity: 0;
    position: relative;
}

#eblah {
    max-width: 200px;
    max-height: 200px;
    opacity: 0;
    position: relative;
}

.table thead th {
    text-align: center;
}

.table tbody tr td {
    text-align: center;
}
