﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <!-- Display login status -->
    <div id="status"></div>

    <!-- Facebook login or logout button -->
    <a href="javascript:void(0);" onclick="fbLogin()" id="fbLink"><img src="http://saysua.com/demo/fblogin/facebook-sign-in.png" /></a>

    <!-- Display user profile data -->
    <div id="userData"></div>
    <script src="~/AdminLTE-3.0.2/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/FacebookLogin - Copy.js"></script>
</body>
</html>
