﻿@model IEnumerable<Test_coffe.Models.Bills>
@{
    ViewData["Title"] = "Index";
   
}

@functions{
    public string addCommas(string nStr)
    {
        nStr = new String(nStr.ToCharArray().Reverse().ToArray());
        var groups = nStr.Select((c, ix) => new { Char = c, Index = ix })
                     .GroupBy(x => x.Index / 3)
                     .Select(g => String.Concat(g.Select(x => x.Char)));
        string result = string.Join(".", groups);
        result = new String(result.ToCharArray().Reverse().ToArray());
        return result;
    }
}

@section css{
    <link rel="stylesheet" href="~/AdminLTE-3.0.2/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/css/style.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Date picker</h3>
                </div>
                <div class="card-body">
                    <!-- Date range -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label>Date range:</label>
                            </div>

                            <div class="col-9">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="reservation">
                                </div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DataTable with default features</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.time_out)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sub_total)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fee_service)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.total_money)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tables)
                                </th>
                                <th>user</th>
                            </tr>
                        </thead>
                        <tbody id="billsList">



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.time_out, "{0:dd/MM/yyyy}")
                                        @*@Html.DisplayFor(modelItem => item.time_out)*@
                                    </td>
                                    <td id="statusTd">
                                        @{ var txt = "";
                                            if (item.status == 0)
                                                txt = "<span class='badge bg-danger'>Chưa thanh toán</span>";
                                            else
                                                txt = "<span class='badge bg-secondary'>Đã thanh toán</span>";
                                        }
                                        @Html.Raw(txt)


                                        @*(@Html.DisplayFor(modelItem => item.status)*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sub_total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fee_service)
                                    </td>
                                    <td>

                                        @addCommas(item.total_money.ToString()) vnđ



                                        @*@Html.DisplayFor(modelItem => item.total_money)*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tables.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.created_by)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bordered Table</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive" style="max-height: 101vh">
                    <table class="table table-bordered" style="border: 1px solid #dee2e6">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ten / gia</th>
                                <th>sl</th>
                                <th>tien</th>
                            </tr>
                        </thead>
                        <tbody id="billsDTList">
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts{
    <script type="text/javascript">
        function addCommas(nStr) {
            nStr += '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(nStr)) {
                nStr = nStr.replace(rgx, '$1' + '.' + '$2');
            }
            return nStr;
    </script>
    <script src="~/AdminLTE-3.0.2/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE-3.0.2/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/statistical.js"></script>
}
