﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCafe</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-4.4.1.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/custom.style.css">

</head>
<body>
    <div id="main">
        <div id="nav-top">
            <nav class="nav_pc">
                <ul class="nav_list">
                    <li><a href="" class="nav_link">Trang chủ</a></li>
                    <li><a href="" class="nav_link">Cá nhân</a></li>
                    <li><a href="" class="nav_link">Gọi món</a></li>
                    <li><a href="" class="nav_link">Tin tức</a></li>
                    <li><a href="" class="nav_link">Liên hệ</a></li>
                </ul>
            </nav>
            <nav class="nav_tablet_mobile hide-on-pc">
                <div class="" style="float: left; padding: 10px;">
                    <label>Linh Đan</label>
                </div>
                <div class="" style="float: right; padding-right: 10px;">
                    <a href="javascript: void(0);" class="nav_mobile-link nav-logout"><i class="fa fa-cog"></i></a>
                </div>
            </nav>
        </div>

        <div class="container">
            <div id="list-table">
                <div class="list-table">

                </div>
                <div class="list-table-extend">
                    <button class="" style="background-color: transparent; border: 0; color: #fff;">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button class="" style="background-color: transparent; border: 0; color: #fff; display: none;"><i class="fa fa-caret-up"></i></button>
                </div>
            </div>
            <input type="checkbox" hidden class="nav_input" id="nav-extend-table-input">

            <div class="main-order-left col-md-8">
                <div class="group-items">

                </div>
                <div class="group-list-items">

                </div>
            </div>

            <div class="main-order-right col-md-4">
                <div id="main-order-1" class="main-order-right main-order" style="display: block;">
                    <div class="order-group-item">
                        <div class="menu-group-item active">
                            <p>Thanh toán</p>
                        </div>
                        <div class="menu-group-item">
                            <p>Gọi món</p>
                        </div>
                        <div class="menu-group-item">
                            <p>Lịch sử</p>
                        </div>
                    </div>
                    <div class="menu-order">
                        <div class="table-name">
                            <div>
                                @*<p><b>Bàn 1</b></p>
                                    <p>Anh Vũ</p>*@
                            </div>
                        </div>
                        <div id="table-bill-1" class="table-bill">

                        </div>
                        <div id="table-bill-2" class="table-bill-waiter">

                        </div>
                        <div id="sub-total-money-1" class="sub-total-money">
                            <div class="col-md-8">
                                <p><b>Tiền sản phẩm</b></p>
                                <p>Phí dịch vụ</p>
                            </div>
                            <div class="col-md-4" style="text-align: right;">
                            </div>
                        </div>
                        <div id="total-money-1" class="total-money">
                            <div class="col-md-5">
                                <p><b>Tổng tiền</b></p>
                            </div>
                            <div class="col-md-7" style="text-align: right;">
                            </div>
                        </div>
                        <div class="btn-temp-order">
                            <div class="col-md-5">
                                <button type="button" class="btn btn-primary"><i class="fa fa-print"></i> In bếp</button>
                            </div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-warning"><i class="fa fa-bell" style="color: #fff;"></i> Hết hàng</button>
                            </div>
                        </div>
                        <div class="checkout active">
                            <button type="button" class="btn btn-success">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label for="nav-mobile-input" class="nav_overlay"></label>
        <label class="nav_overlay_mobile"></label>
    </div>

    <div class="nav-bottom hide-on-pc ">
        <nav class="nav_tablet_mobile hide-on-pc">
            <ul class="nav_mobile-list">
                <li>
                    <div class="">
                        <a href="" class="nav_mobile-link">
                            <i class="fa fa-home"></i>
                            <p style="margin-top: -16px;"><span>Trang chủ</span></p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="">
                        <a href="" class="nav_mobile-link">
                            <i class="fa fa-table"></i>
                            <p style="margin-top: -16px;"><span>Bàn</span></p>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="">
                        <a href="" class="nav_mobile-link">
                            <i class="fa fa-inbox"></i>
                            <p style="margin-top: -16px;"><span>Tin nhắn</span></p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="">
                        <a href="" class="nav_mobile-link">
                            <i class="fa fa-user"></i>
                            <p style="margin-top: -16px;"><span>Tài khoản</span></p>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript" src="~/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-4.4.1.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/custom.script.js"></script>
    <script type="text/javascript" src="~/js/lib.js"></script>
    <script type="text/javascript">
            var GetTable = "@Url.Action("GetTable", "TablesAPI")";
            var GetCataloge = "@Url.Action("GetCataloge2", "CatalogesAPI")";
            //var GetProduct = "@Url.Action("GetProduct", "ProductsAPI")";
            var GetBill = "@Url.Action("GetBillByTable", "BillsAPI")";
        var GetBillDetail = "@Url.Action("GetBillDetail", "BillDetailsAPI")";

        console.log("@Url.Action("GetTable", "TablesAPI")");
        console.log("@Url.Action("GetCataloge2", "CatalogesAPI")");
        console.log("@Url.Action("GetProduct", "ProductsAPI")");
        console.log("@Url.Action("GetBillByTable", "BillsAPI")");
        console.log("@Url.Action("GetBillDetail", "BillDetailsAPI")");
    </script>
    <script type="text/javascript" src="~/js/bill.js"></script>
    <script type="text/javascript" src="~/js/bill-details.js"></script>
    <script type="text/javascript" src="~/js/tables.js"></script>
    <script type="text/javascript" src="~/js/cashier.js"></script>


</body>
</html>