﻿@*@model IEnumerable<Test_coffe.Models.Cities>

    @{
        ViewData["Title"] = "Index";
    }

    @section css{
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/custom-style.css">
        <link rel="stylesheet" type="text/css" href="~/css/sweetalert.css">
    }*@

@*<section class="content-header">
        <div class="alert alert-success"></div>

        <h1>Index</h1>
        <a href="javascript:;" class="btn btn-primary btn-flat" onclick="user.openCreate()">
            Create
        </a>

    </section>*@

@*<section class="content">
        <table class="table table-striped table-bordered dataTable" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbList">
            </tbody>
        </table>
    </section>*@


<!-- Modal -->
@*<div id="showCreate" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <form id="formCreate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Tạo Mới Thành Phố</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Thành Phố</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-danger">Tạo</button>
                    </div>
                </div>
            </form>
        </div>
    </div>*@

<!-- Modal2 -->
@*<div id="showEdit" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <form id="formEdit">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sửa thông tin</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Thành Phố</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="nameEdit" name="nameEdit" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-danger">Sửa</button>
                    </div>
                </div>
            </form>

        </div>
    </div>*@


@*@section scripts{
        <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/js/sweetalert-dev.js"></script>
        <script src="~/js/lib.js"></script>
        <script type="text/javascript">
            var GetCity = "@Url.Action("GetCity2", "CitiesAPI")";
            var PostCities = "@Url.Action("PostCities", "CitiesAPI")";
            var PutCities = "@Url.Action("PutCities", "CitiesAPI")";
            var DeleteCity = "@Url.Action("DeleteCity", "CitiesAPI")";
        </script>
        <script src="~/js/City.js"></script>
    }*@










@model IEnumerable<Test_coffe.Models.Cities>

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/sweetalert.css">
}

<section class="content-header">
    <div class="input-group mb-3">
        <div class="card">
            <div class="card-header">
                <h5>Tạo Thành Phố Mới</h5>
            </div>
            @*<div class="card-body">
                    <input type="text" id="item" class="form-control col-sm-9 mr-3" placeholder="Tên Thành Phố Mới" aria-label="New Product" aria-describedby="button-addon2" ng-model="item">
                    <button class="btn btn-primary col-sm-2 border-0 mb-2" type="button" id="button-addon2" onclick="addItem(item.value); item.value = null;"><i class="fa fa-plus create-btn"></i>Tạo</button>
                </div>*@
            <form id="formCreate" class="card-body">
                <input type="text" id="item" name="item" class="form-control col-sm-9 mr-3" placeholder="Tên Thành Phố Mới" aria-label="New Product" aria-describedby="button-addon2" ng-model="item">
                <button class="btn btn-primary col-sm-2 border-0 mb-2" type="submit" id="button-addon5"><i class="fa fa-plus create-btn"></i>Tạo</button>
            </form>
        </div>
    </div>

    <h5>Danh Sách Thành Phố</h5>

</section>

<section class="content">
    <table id="dtProducts" class="table table-striped border-top-0" cellspacing="0" width="100%">
        <thead>
            <tr class="border-top-0">
                <th scope="col">#</th>
                <th scope="col">Tên Thành Phố</th>
                <th scope="col"></th>
                <th scope="col"><span id="countItem" class="text-danger"></span></th>
            </tr>
        </thead>
        <tbody id="tbList">
        </tbody>
    </table>
</section>

@section scripts{
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/sweetalert-dev.js"></script>
    <script src="~/js/lib.js"></script>
    <script type="text/javascript">
        console.log("@Url.Action("GetCity2", "CitiesAPI")");
        console.log("@Url.Action("PostCities", "CitiesAPI")");
        console.log("@Url.Action("PutCities", "CitiesAPI")");
        console.log("@Url.Action("DeleteCity", "CitiesAPI")");

            var GetCity = "@Url.Action("GetCity2", "CitiesAPI")";
            @*var PostCities = "@Url.Action("PostCities", "CitiesAPI")";
            var PutCities = "@Url.Action("PutCities", "CitiesAPI")";
            var DeleteCity = "@Url.Action("DeleteCity", "CitiesAPI")";*@
    </script>
    <script src="~/js/City.js"></script>
}






@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/css/custom-style.css">
        <link rel="stylesheet" type="text/css" href="~/css/style.css">

    </head>
    <body>

        <div id="main">
            <div class="input-group mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Tạo Thành Phố Mới</h5>
                    </div>
                    <div class="card-body">
                        <input type="text" id="item" class="form-control col-sm-9 mr-3" placeholder="Tên Thành Phố Mới" aria-label="New Product" aria-describedby="button-addon2" ng-model="item">
                        <button class="btn btn-primary col-sm-2 border-0 mb-2" type="button" id="button-addon2" onclick="addItem(item.value); item.value = null;"><i class="fa fa-plus create-btn"></i>Tạo</button>
                    </div>
                </div>
            </div>

            <h5>Danh Sách Thành Phố</h5>

            <div>
                <table id="dtProducts" class="table table-striped border-top-0" cellspacing="0" width="100%">
                    <thead>
                        <tr class="border-top-0">
                            <th scope="col">#</th>
                            <th scope="col">Tên Thành Phố</th>
                            <th scope="col"></th>
                            <th scope="col"><span id="countItem" class="text-danger"></span></th>
                        </tr>
                    </thead>
                    <tbody id="tbList">
                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/sweetalert2@9.js"></script>
        <script src="~/js/permalink.js"></script>
        <script src="~/js/floor.js"></script>
    </body>
    </html>*@
